<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="../../static/image/logo1.ico" type="image/x-icon">
  <title>분석</title>
  <link rel="stylesheet" href="{% static 'css/upload.css' %}">
  <link rel="stylesheet" href="{% static 'css/default.css' %}">
</head>


<body>
  {% csrf_token %}
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- <p class="tip"><a href="../../home/templates/main.html"><img src="../../static/image/logo1.png" alt="로고" width=250" height="250" ></a></p> -->
<p class="tip"><a href="../../"><img src="../../static/image/logo1.png" alt="로고" width="250" height="250" ></a></p>
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">이미지를 넣어주세요</button>

  <form method='post' action='{% url "function:predict" %}' enctype="multipart/form-data">
    {% csrf_token %}
  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" name='upimg'>
    <div class="drag-text">
      <h3>이미지를 드래그해주세요</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
        
        <button type="button" onclick="removeUpload()" class="remove-image">삭제</button>
        <!-- <button type="button" class="upload-image onClick=" location.href='./result.html'">전송</button> -->
        
        <!-- <button type="button" class="upload-image onClick=" location.href='function/result'>전송</button> -->
        <button type="submit" class="upload-image onClick=" >전송</button>
      </div>
    </div>
  </form>
</div>


<script  src="{% static 'js/upload.js' %}"></script>
</body>
</html>