<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="icon" href="../../static/image/logo1.ico" type="image/x-icon">
  <title>login</title>
</head>
<body>
<!-- <p class="tip"><a href="../../main/templates/main"><img src="../../static/image/logo1.png" alt="로고" width="150" height="150" ></a></p> -->
<p class="tip"><a href="../../"><img src="../../static/image/logo1.png" alt="로고" width="150" height="150" ></a></p>
<div class="cont">
  <div class="form sign-in">
    <h2>환영합니다!</h2>
    <label>
      <span>이메일</span>
      <input type="email" />
    </label>
    <label>
      <span>비밀번호</span>
      <input type="password1" />
    <!-- <button type="button" class="submit" onClick="location.href='../../main/templates/main.html'">로그인</button> -->
    <button type="button" class="submit" onClick="location.href=''">로그인</button>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>sign-up</h2>
        <p>회원 가입을 해주세요!</p>
      </div>
      <div class="img__text m--in">
        <h2>sign-in</h2>
        <p>이미 계정이 있으신가요?</p>
      </div>
      <div class="img__btn">
        <span class="m--up">회원 가입</span>
        <span class="m--in">로그인</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>회원 가입</h2>
      <label>
        <span>이메일</span>
        <input type="email"></input>
      </label>
      <label>
        <span>이름</span>
        <input type="text"></input>
      </label>
      <label>
        <span>비밀번호</span>
        <input type="password1"></input>
      </label>
    </label> <label>
      <span>비밀번호 확인</span>
      <input type="password2" />
    </label>
      <label>
        <span>병원</span>
        <input type="password"></input>
      </label>
      <button type="button" class="submit" onClick="location.href='agreement'"> 이용약관</button>
    </div>
  </div>
</div>

<script  src="../static/js/login.js"></script>

</body>
</html>

