<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>mypage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'><link rel="stylesheet" href="../static/css/mypage.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<div class="container">
    <div class="well well-sm">
    <strong><a href="../../">Vrain</a></strong>
    <a href="../../function/upload" style="margin-left:3%;">분석</a>
    <a href="../../" style="margin-left:3%;">로그아웃</a>
        <div class="btn-group" style="margin-left:3%;">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>

    </div>
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">상세하게</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <a href='tel:010-9962-4852'><img src="../static/image/telephone.png" alt="tele" width="50" height="50"></a>
    <strong>Copyright ⓒ Vrain Corp. All Rights Reserved</strong>
    <a href="mailto:magmom95@naver.com?Subject=요렇게 제가 원하는 메일이 뜨져." target="_top"><img src="../static/image/mail.png" alt="mail" width="50" height="50"></a>
  </a>
</footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script><script  src="../static/js/mypage.js"></script>

</body>
</html>
