<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="icon" href="../../static/image/logo1.ico" type="image/x-icon">
    <title>main</title>
    <script>
      if ("{{object}}") {
        alert('{{object.name}}님 {{message}}')
      } else if ("{{message}}") {
        alert("{{message}}")
      }
    </script>
</head>
<body class="before-load">
	<div class="loading">
		<div class="emotiv-loader">
            <svg id="brain" width="100px" height="100px" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group" transform="translate(27.000000, 26.000000)" stroke="darkmagenta" stroke-dasharray="1" stroke-linecap="round" stroke-width="3">
                    <path d="M47.8299652,92.0909904 C45.8052074,96.1841361 41.5773022,99 36.6896552,99 C31.2772683,99 26.6738881,95.5470551 24.9753006,90.730402 C23.7968226,91.1004593 22.5424766,91.3 21.2413793,91.3 C14.3854307,91.3 8.82758621,85.7595238 8.82758621,78.925 C8.82758621,76.2901218 9.65364501,73.847577 11.0616782,71.8406873 C6.43465642,69.2387074 3.31034483,64.292752 3.31034483,58.6193548 C3.31034483,56.2952866 3.83462775,54.0932886 4.77172278,52.1244832 C1.78886929,48.4805991 -3.55271368e-15,43.8271821 -3.55271368e-15,38.7572581 C-3.55271368e-15,29.8727605 5.49340283,22.2673063 13.2788919,19.132208 C13.2540112,18.7459043 13.2413793,18.3562775 13.2413793,17.9637097 C13.2413793,8.04262677 21.3092181,0 31.2614016,0 C38.6650199,0 45.0258127,4.45091407 47.7980585,10.8149761 L47.8299652,92.0909904 Z" id="Combined-Shape-Copy" stroke-linejoin="round"></path>
                    <path d="M95.8299652,92.0909904 C93.8052074,96.1841361 89.5773022,99 84.6896552,99 C79.2772683,99 74.6738881,95.5470551 72.9753006,90.730402 C71.7968226,91.1004593 70.5424766,91.3 69.2413793,91.3 C62.3854307,91.3 56.8275862,85.7595238 56.8275862,78.925 C56.8275862,76.2901218 57.653645,73.847577 59.0616782,71.8406873 C54.4346564,69.2387074 51.3103448,64.292752 51.3103448,58.6193548 C51.3103448,56.2952866 51.8346277,54.0932886 52.7717228,52.1244832 C49.7888693,48.4805991 48,43.8271821 48,38.7572581 C48,29.8727605 53.4934028,22.2673063 61.2788919,19.132208 C61.2540112,18.7459043 61.2413793,18.3562775 61.2413793,17.9637097 C61.2413793,8.04262677 69.3092181,0 79.2614016,0 C86.6650199,0 93.0258127,4.45091407 95.7980585,10.8149761 L95.8299652,92.0909904 Z" id="Combined-Shape-Copy" stroke-linejoin="round" transform="translate(71.914983, 49.500000) scale(-1, 1) translate(-71.914983, -49.500000) "></path>
                    <path d="M65.5293129,34.2075511 C60.4040565,36.6480914 56.8631813,41.8634429 56.8631813,47.9032258 C56.8631813,50.679783 57.6114907,53.2821093 58.9180304,55.5207196" id="Oval-2"></path>
                    <path d="M66.4861191,15.3607773 C63.5552265,17.6243717 61.6685206,21.1671393 61.6685206,25.1491935 C61.6685206,31.9837173 67.2263651,37.5241935 74.0823137,37.5241935 L74.0823137,37.5241935 C75.4030398,37.5241935 76.6755934,37.3185867 77.8695222,36.9377301" id="Oval-2"></path>
                    <path d="M64.3397351,72.1276123 C63.0154135,74.0958966 62.2202447,76.0930409 62.2202447,78.641129 C62.2202447,85.4756528 67.7780892,91.3276611 74.6340378,91.3276611 C81.4899864,91.3276611 87.0478309,85.4756528 87.0478309,78.641129" id="Oval-2" transform="translate(74.634038, 81.727637) scale(-1, 1) translate(-74.634038, -81.727637) "></path>
                    <path d="M74.4827586,38.9629883 C74.4827586,50.6478193 84.0902313,59.8790323 95.8116918,59.8790323" id="Oval-2" transform="translate(85.147225, 49.421010) scale(-1, 1) translate(-85.147225, -49.421010) "></path>
                    <path d="M28.8133919,47.3029848 C26.1792138,45.126005 22.7967878,43.8173828 19.1077586,43.8173828 C10.7036926,43.8173828 3.20355951,49.9044547 3.20355951,58.2822581 C3.20355951,66.6600614 10.0164011,73.4516129 18.4204672,73.4516129" id="Oval-2"></path>
                    <path d="M19.621802,31.9354839 C27.8735893,31.9354839 34.8299296,26.4063486 36.9661168,18.8617693" id="Oval-2"></path>
                    <path d="M34.7815845,80.4591731 C35.59374,78.4137665 36.0400445,76.1842436 36.0400445,73.8508065 C36.0400445,65.8883909 30.8433315,59.1359397 23.6465272,56.780085" id="Oval-2"></path>
                </g>
                <circle id="spinner" stroke="darkmagenta" stroke-width="3" cx="75" cy="75" r="73.5"></circle>
            </g>
        </svg></a>
          <p>로딩중...</p>
        </div>
	</div>
  <button class="go-top-btn">
    <img src="../static/image/arrow.png" alt="arrow up">
  </button>
        <div class="container">
            <nav class="global-nav">
              <div class="global-nav-links">
                <!-- <a href="../../function/template/upload.html" class="global-nav-item">분석</a> -->
                {% if user.is_authenticated %}
                <a href="../../function/upload" class="global-nav-item">분석</a>
                <a href="../../user/mypage" class="global-nav-item">마이페이지</a>
                {% endif %}
                {% if not user.is_authenticated %}
                <a href="{% url 'main' %}" class="global-nav-item" onclick="alert('회원만 이용할 수 있는 서비스입니다')">분석</a>
                <a href="{% url 'main' %}" class="global-nav-item" onclick="alert('회원만 이용할 수 있는 서비스입니다')">마이페이지</a>
                {% endif %}
              </div>
            </nav>
            <nav class="local-nav">
              {% if user.is_authenticated %}
              <div class="local-nav-links">
                <a href="" class="product-name">Vrain</a>
                <!-- <a href="../../user/template/login.html">로그인/&nbsp;회원가입</a> -->
                <h5>환영합니다&nbsp;{{user.name}}님!</h5>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'account:logout' %}">로그아웃</a>
              </div>
              {% endif %}
              {% if not user.is_authenticated %}
              <div class="local-nav-links">
                <a href="" class="product-name">Vrain</a>
                <!-- <a href="../../user/template/login.html">로그인/&nbsp;회원가입</a> -->
                <a href="../../account/login">로그인/&nbsp;회원가입</a>
              </div>
              {% endif %}
            </nav>
            <section class="scroll-section" id="scroll-section-0">
                <h1>Vrain</h1>
                <div class="sticky-elem sticky-elem-canvas">
                    <canvas id="video-canvas-0" width="1800" height="1500"></canvas>
                </div>
                <div class="sticky-elem main-message a">
                  <p>Vrain 은 텐서플로우를 이용한</p>
                </div>
                <div class="sticky-elem main-message b">
                    <p>이미지 분석 및 분류로</p>
                </div>
                <div class="sticky-elem main-message c">
                    <p>알츠하이머 판단 보조를</p>
                </div>
                <div class="sticky-elem main-message d">
                    <p>도와주는 프로그램입니다.</p>
                </div>
            </section>
            <section class="scroll-section" id="scroll-section-1">
              <p class="description" style="padding-top:15%;">
                  <img src="../static/image/vrain.gif"  width="1080" height="1920">
                  <strong >Vision + brain </strong></p>
                  <img src="../../static/image/logo.jpg"  width="880" height="820">

              <p class="Des" style="padding-top:3%;">알츠하이머는 치매의 가장 흔한 형태이며 75%의 치매 환자가 알츠하이머입니다. 현대 의학에서는 치료할 수 없는 질병으로 시간이 지날수록 증상이 악화되며 결과적으로 죽음에 이릅니다. 그래서 우리 프로그램은 이미지 분석을 통하여 알츠하이머 판단 보조를 도와 의사 및 환자들에게 도움을 주는 것을 지향합니다.</p>
            </section>
            <section class="scroll-section" id="scroll-section-2">
              <div class="sticky-elem sticky-elem-canvas">
                  <canvas id="video-canvas-1" width="1550" height="1500"></canvas>
              </div>
              <div class="sticky-elem main-message a">
                  <p>
                      분석 과정
                  </p>
              </div>
              <div class="sticky-elem desc-message b" >
                <!-- style="padding-left:5%; padding-top: 15%;" -->
                  <p>
                      이미지 전송을 통한 분석
                  </p>
                  <div class="pin"></div>
              </div>
              <div class="sticky-elem desc-message c">
                  <pre style="margin-left:-70%;">그래프를 통한 결과 제공</pre>
                  <div class="pin"></div>
              </div>
            </section>
            <section class="scroll-section" id="scroll-section-3">
              <p class="mid-message" style="padding-top:10%;">
                  <strong>텐서플로우를 통한 알츠하이머 분석</strong><br>
                  보다나은 삶을 살기 위하여
              </p>
                <canvas class="image-blend-canvas" width="1920" height="1080"></canvas>
                <pre class="canvas-caption" style="padding-top:5%;">
                  <strong>CRUISE</strong>

                  Front : 이성규
  
                  Backend : 류선영 , 손유진 , 정주영<br>          
                </pre>
            </section>
            <div class="box">
            <figure class="chart" data-percent="75">
              <figcaption>HTML</figcaption>
               <img class="html" src="../static/image/html5.png">
              <svg width="200" height="200">
                <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
              </svg>
            </figure>
          <figure class="chart" data-percent="50">
              <figcaption>CSS</figcaption>
              <img class="css" src="../static/image/css.png">
              <svg width="200" height="200">
                <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
              </svg>
            </figure>
            <figure class="chart" data-percent="75">
              <figcaption>Javascript</figcaption>
              <img class="javascript" src="../static/image/js.svg">
              <svg width="200" height="200">
                <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
              </svg>
            </figure>
            <figure class="chart" data-percent="50">
              <figcaption>Django</figcaption>
              <img class="django" src="../static/image/dj.png">
              <svg width="200" height="200">
                <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
              </svg>
            </figure>
            <figure class="chart" data-percent="100">
              <figcaption>TensorFlow</figcaption>
              <img class="TensorFlow" src="../static/image/tf.png">
              <svg width="200" height="200">
                <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
              </svg>
            </figure>
            <figure class="chart" data-percent="100">
              <figcaption>Postgre</figcaption>
              <img class="Postgre" src="../static/image/postgre.png">
              <svg width="200" height="200">
                <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
              </svg>
            </figure>
            <figure class="chart" data-percent="100">
              <figcaption>Aws</figcaption>
              <img class="Aws" src="../static/image/aws.png">
              <svg width="200" height="200">
                <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
              </svg>
            </figure>
          </div>          
            <footer class="footer">
              <a href='tel:010-9962-4852'><img src="../static/image/telephone.png" alt="tele" width="50" height="50"></a>
              <strong>Copyright ⓒ Vrain Corp. All Rights Reserved</strong>
              <a href="mailto:magmom95@naver.com?Subject=요렇게 제가 원하는 메일이 뜨져." target="_top"><img src="../static/image/mail.png" alt="mail" width="50" height="50"></a>
            </footer>
        </div>
    </section>
    <script  src="{% static 'js/main.js' %}"></script>

</body>
</html>